<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<button type="button" class="btn btn-success"><a href="/odontologos/registrar">Registrar odontologo</a></button>
<button type="button" class="btn btn-success"><a href="/odontologos/list">Listar odontologos</a></button>
<button type="button" class="btn btn-success"><a href="/pacientes/registrar">Registrar paciente</a></button>
<button type="button" class="btn btn-success"><a href="/pacientes/list">Listar pacientes</a></button>
<button type="button" class="btn btn-success"><a href="/turnos/registrar">Registrar turno</a></button>
<button type="button" class="btn btn-success"><a href="/turnos/list">Listar turnos</a></button>

</body>
</html>